<div class="form specs" ng-controller="OrderController as ctrl" ng-init="ctrl.setDefaults('{{partial.campaign_ident}}', {{partial.options|jsonify}}, '{{partial.stripe_image_url}}', '{{partial.stripe_checkout_key}}', '{{partial.stripe_title}}')">

  <div class="hero-progress">
    <div class="hero-progress__amount">
      <span>[[ctrl.campaign.raised|currency:"$":0]]</span>
      contributed by [[ctrl.campaign.num_orders]] people
    </div>
    <div class="hero-progress__bar">
      <div class="hero-progress__bar__bg" ng-style="{'width': ctrl.campaign.percent_raised + '%'}">
      </div>
    </div>
    <div class="hero-progress__details">
      <div class="hero-progress__details__alt">
        [[ctrl.campaign.remaining]]
      </div>
      <span>[[ctrl.campaign.percent_raised]]%</span> of [[ctrl.campaign.goal|currency:"$":0]] goal
    </div>
  </div>

  <div class="specs__row">
    <div class="form__field form__field--label">
      The story from the artist:
    </div>
    <div class="form__field__row artist__statement">
      {{partial.statement|safe}}
    </div>
  </div>

  <div id="order">
    <div ng-if="ctrl.isSubmitted" ng-cloak id="success">
      <div class="specs__submitted">
        <div class="specs__submitted__icon">
          <i class="material-icons">check_circle</i>
        </div>
        We've got your order.<br>Thank you so much for backing this cause!
        <div class="specs__submitted__sm">
        Questions? <a href="mailto:orders@artforx.com">Email us</a>.
        </div>
      </div>
      <div class="specs__share">
        <div class="specs__share__title form__field form__field--label">
          Last thing – please share this page to help even more!
        </div>
        <div class="specs__share__row" ng-controller="ShareController as share">

          <a ng-click="share.openFacebook()" class="btn btn--social btn--round btn--sm"><img src="{{g.static('/source/images/icon_facebook.svg').url.path}}"></a>
          <a ng-click="share.openTwitter('{{podspec.meta.sharetext.twitter}}')" class="btn btn--social btn--round btn--sm"><img src="{{g.static('/source/images/icon_twitter.svg').url.path}}"></a>

        </div>
        <p>Thank you! ❤️ 🤗</p>
      </div>
    </div>
    <div ng-if="!ctrl.isSubmitted">
      <div class="form__field form__field--label">
        Choose prints to order:
      </div>
      <div class="items">
        <table class="items__table">
          {% for option in partial.options %}
          <tr class="items__table__row">
            <td>
              <div class="form__select">
                <select class="form__control" ng-model="ctrl.quantities['{{option.stripe_sku}}']" ng-change="ctrl.setSkuItem('{{option.stripe_sku}}', {{option|jsonify}}, '1')">
                <option value="[[num]]" ng-repeat="num in ctrl.quantityOptions">[[num]]</option>
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 7.6" enable-background="new 0 0 15 7.6"><path d="M15 1.1l-7.5 6.5-7.5-6.3 1-1.2 6.5 5.5 6.5-5.6z"></path></svg>
              </div>
            </td>
            <td>
              <em>${{option.price}}</em>
            </td>
            <td>
              {{option.title}} ({{option.size}})
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="form__field form__field--label">
        Would you like to donate an additional amount?
      </div>
      <div class="form__field__meta">
        <div ng-if="ctrl.getAddMoreAmount() == 0">
          Thanks! You're donating the average amount! 👌
        </div>
        <div ng-if="ctrl.getAddMoreAmount() > 0">
          Add <b>[[ctrl.getAddMoreAmount()|currency:"$":0]]</b> to beat the average of [[ctrl.campaign.average|currency:"$":0]]!
        </div>
        <div ng-if="ctrl.getAddMoreAmount() < 0">
          Thanks! Your total is higher than the average of <b>[[ctrl.campaign.average|currency:"$":0]]</b>, but you can always add more on top! 💪
        </div>
      </div>
      <div class="form__field__row">
        <div class="form__dollar form__dollar--off">$</div><input type="text" class="form__control form__control--toggled form__control--dollar form__control--toggled--off" placeholder="_" ng-model="ctrl.additionalAmount" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
        <div class="form__aside" ng-class="{'form__aside--visible': ctrl.additionalAmount}">
          Thank you! ✨
        </div>
      </div>

      <div class="form__field form__field--label form__field--push">
        Your subtotal:
      </div>
      <div class="form__field__row">
        <div class="form__field__text">[[ctrl.getTotal()|currency:"$":0]]</div>
      </div>

      <div class="specs__optional" ng-if="ctrl.isOptionalShown" ng-cloak id="order-note">
        <div class="specs__row specs__row--flush">
          <div class="form__field form__field--label">
            Leave a note for the artist (optional)
          </div>
          <div class="form__field__row">
            <textarea class="form__control" ng-model="ctrl.artistNote"></textarea>
          </div>
        </div>
        <div class="specs__row">
          <div class="form__field form__field--label">
            Tip the artist? (optional)
          </div>
          <div class="form__field__meta">
            <div>
              {{partial.artist_first_name}} isn't taking any profits, but you can send a tip.
            </div>
          </div>
          <div class="form__field__row">
            <div class="form__dollar form__dollar--off">$</div><input type="text" class="form__control form__control--toggled form__control--dollar form__control--toggled--off" placeholder="_" ng-model="ctrl.artistTip" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            <div class="form__aside" ng-class="{'form__aside--visible': ctrl.artistTip}">
              ✨ Thank you! ✨
            </div>
          </div>
        </div>
      </div>

      <div class="specs__pay" ng-if="ctrl.isOptionalShown">
        <button class="btn btn--icon" ng-click="ctrl.openOrderDialog()" ng-disabled="!ctrl.getTotal() || ctrl.isLoading">
          Finish and pay
          <i class="material-icons">navigate_next</i>
        </button>
        <div class="loader" ng-if="ctrl.isLoading">
          {% include "/source/svg/loader.svg" %}
        </div>
      </div>

      <div class="specs__pay" ng-if="!ctrl.isOptionalShown">
        <button class="btn btn--icon" ng-click="ctrl.goNext()" ng-disabled="!ctrl.getTotal()">
          Next
          <i class="material-icons">navigate_next</i>
        </button>
      </div>

  </div>

</div>
