<div class="form specs" ng-controller="OrderController as ctrl">

  {#
  <div class="specs__row">
    <div class="form__field__row">
      <i class="material-icons-extended">post_facebook</i>
      <i class="material-icons-extended">post_twitter</i>
      <i class="material-icons-extended">link</i>
    </div>
  </div>
  #}

  <div ng-if="!ctrl.customizing" ng-cloak>

    <div class="specs__row">
      <div class="form__field form__field--label">
        How much would you like to contribute?
      </div>
      <div class="form__field__row">
        {% for option in partial.options -%}
        {%- set amount = option.price[1:]|int -%}
        <div class="btn btn--toggle btn--flush btn--sm" ng-click="ctrl.setSkuQuantity('{{option.stripe_sku}}', 1, {{amount}})" ng-class="{'btn--toggle--off': !ctrl.isAmountEqual({{amount}})}">{{option.price}}</div>
        {%- endfor -%}
        <div class="form__dollar" ng-class="{'form__dollar--off': !ctrl.isAmountEqual(ctrl.customAmount)}">$</div><input ng-model="ctrl.customAmount" ng-change="ctrl.setAmount(ctrl.customAmount)" type="number" class="form__control--toggled form__control form__control--dollar" placeholder="_" ng-class="{'form__control--toggled--off': !ctrl.isAmountEqual(ctrl.customAmount)}">
      </div>
      <div class="form__field form__field--help">
        The average so far is $15. Pay <span>$16+</span>
        for a bonus vinyl sticker.
      </div>
    </div>
    <div class="specs__row">
      <div class="form__field form__field--label">
        For your contribution, you will receive:
      </div>
      <div class="form__field__row">

        <div class="rewards" ng-if="ctrl.amount < 35">
          <div class="ak-grid ak-grid--3-cols ak-grid--valign-middle">
            {% for option in partial.options %}
            {%- set amount = option.price[1:]|int -%}
            <div class="ak-grid__item">
              <div class="rewards__cell" ng-class="{'rewards__cell--disabled': ctrl.amount < {{amount}} || !ctrl.amount}">
                <div class="rewards__cell__title">
                  {{option.title}}
                  <br>{{option.size}}
                </div>
                <div class="rewards__cell__image" style="background-image: url({{option.icon.url.path}})"></div>
                <div class="rewards__cell__price">
                  Pay {{option.price}}+
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="rewards" ng-if="ctrl.amount >= 85">
          <div class="ak-grid ak-grid--valign-middle">
            <div class="ak-grid__item ak-grid__item--12-cols">
              <div class="rewards__cell">
                <div class="rewards__cell__title">
                  1x Postcard + 1x Large Print
                </div>
                <div class="rewards__cell__image--inline rewards__cell__image" style="background-image: url({{partial.options[0].icon.url.path}})"></div>
                <div class="rewards__cell__image--inline rewards__cell__image" style="background-image: url({{partial.options[2].icon.url.path}})"></div>
                <div class="rewards__cell__price">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="rewards" ng-if="ctrl.amount >= 35 && ctrl.amount < 85">
          <div class="ak-grid ak-grid--valign-middle">
            <div class="ak-grid__item ak-grid__item--12-cols">
              <div class="rewards__cell">
                <div class="rewards__cell__title">
                  1x Postcard + 1x Small Print
                </div>
                <div class="rewards__cell__image--inline rewards__cell__image" style="background-image: url({{partial.options[0].icon.url.path}})"></div>
                <div class="rewards__cell__image--inline rewards__cell__image" style="background-image: url({{partial.options[1].icon.url.path}})"></div>
                <div class="rewards__cell__price">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form__field__row">
          <a href="javascript:" class="link link--sm" ng-click="ctrl.toggleCustomizer()">create custom order</a>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="ctrl.customizing" ng-cloak>
    <div class="form__field form__field--label">
      Customize your order:
    </div>
    <div class="items">
      <table class="items__table">
        <thead>
          <tr class="items__table__row">
            <td>Qty</td>
            <td>Price</td>
            <td></td>
          </tr>
        </thead>
        {% for option in partial.options %}
        <tr class="items__table__row">
          <td>
            <select class="form__control">
              {% for num in range(0, 51) %}
              <option value="{{num}}">{{num}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            {{option.price}}
          </td>
          <td>
            {{option.title}} ({{option.size}})
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="form__field form__field--label">
      Would you like to leave an extra donation?
    </div>
    <div class="form__field__row">
      <div class="form__dollar form__dollar--off">$</div><input type="text" class="form__control form__control--toggled form__control--dollar form__control--toggled--off" placeholder="_">
    </div>

    <div class="form__field form__field--label">
      Would you like to leave an extra donation?
    </div>
    <div class="form__field__row">
      <div class="form__dollar form__dollar--off">$</div><input type="text" class="form__control form__control--toggled form__control--dollar form__control--toggled--off" placeholder="_">
    </div>

    <div class="form__field__row">
      <a href="javascript:" ng-click="ctrl.toggleCustomizer()" class="link link--sm">go back</a>
    </div>
  </div>

  <div class="specs__row" style="display: none">
    <div class="form__field form__field--label">
      Would you like to leave a note?
    </div>
    <div class="form__field__row">
      <textarea class="form__control"></textarea>
    </div>
  </div>

  <div class="specs__pay" ng-if="ctrl.dirty">
    <button class="btn btn--icon" ng-click="ctrl.openOrderDialog()">
      Pay
      <i class="material-icons">navigate_next</i>
    </button>
  </div>

</div>
