.artist
  text-align: center
  margin: 0 0 $pad
  +md
    margin: 0 0 $pad * 2

  .artist__week
    margin-bottom: $pad / 4

  .artist__week__chip
    // background: $bar-bg
    color: $color-black
    display: inline-block
    // padding: 2px $pad / 4
    font-weight: $font-weight-semibold
    +font-size($font-size-xs, $line-height-xs)

  .artist__title
    +font-size($font-size-md, $line-height-md)
    color: $color-black
    max-width: 300px
    margin: 0 auto
    +sm
      max-width: 100%
    +md
      +font-size($font-size-xl, $line-height-xl)

  .artist__subtitle
    max-width: 250px
    margin: $pad/2 auto 0
    +font-size($font-size-xs, $line-height-xs)
    +sm
      max-width: 100%
    +md
      +font-size($font-size-sm, $line-height-sm)

  .artist__aside
    margin-top: $pad
    +md
      margin-top: 0
      text-align: left

  .artist__bubbles
    margin-bottom: $pad / 3
    +md
      margin-bottom: $pad / 5

  .artist__bubble
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    border-radius: 100%
    width: $bubble-size
    height: $bubble-size
    display: inline-block
    margin: 0 0

    &:first-child
      margin-right: 5px

    &--sq
      border-radius: 0
      width: $bubble-size * 2.5
      background-size: contain

  .artist__attribution
    +font-size($font-size-sm, $line-height-sm)
    a
      color: $color-black
      &:hover
        color: $color-secondary

    span
      font-weight: 500

  .artist__location
    +font-size($font-size-xs, $line-height-xs)
    i
      vertical-align: middle
      +font-size($font-size-xs, $line-height-xs)
      margin-top: -1px

  .artist__cause
    font-weight: 100
