$bubble-size: 50px

.artist
  margin: $pad * 2 0
  text-align: center

  .artist__bubble
    background: #333
    border-radius: 100%
    width: $bubble-size
    height: $bubble-size
    display: inline-block
    margin: 0 $pad / 4
