.btn
  background: $color-secondary
  border: none
  border-radius: 5px
  // box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12)
  color: white
  cursor: pointer
  display: inline-block
  font-size: $font-size-md
  font-family: $font-family
  outline: none
  padding: $pad / 1.5 $pad * 2
  position: relative
  transform: perspective(1px) translate3d(0, 0, 0)
  transition: transform 0.3s ease
  vertical-align: middle
  -webkit-font-smoothing: antialiased

  &[disabled]
    opacity: .5
    pointer-events: none

  i
    margin-top: -2px
    transition: transform 200ms ease
    vertical-align: middle

  &--round
    border-radius: 100%
    box-sizing: border-box
    display: inline-block
    height: 40px
    width: 40px

  &--grey
    background: #EDEDED
    color: #626369
    box-shadow: none

    i
      font-size: $font-size-sm
      margin: -1px 0 0 3px !important
      display: inline-block
      transform: translateX(0) !important

  &--flush
    margin-right: 4px

  &--sm
    padding: 10px 15px
    font-size: $font-size-sm

    i
      max-width: 20px
      margin: -2px 0

  &--xs
    padding: 5px 10px
    font-size: $font-size-xs

  &--inverted
    border: 1px solid $color-secondary
    background: transparent
    color: $color-secondary

  &--icon
    padding-right: $pad * 1.5

  &--toggle
    font-size: $font-size-md

    &--off
      background: $color-grey
      color: $color-black

  &--social
    padding: 0
    background: transparent
    filter: grayscale(1)
    opacity: .5
    margin-left: 5px

    &:hover
      filter: grayscale(0)
      opacity: 1

    img
      width: 100%
      height: 100%

  &:hover
    transform: scale(1.05)

    i
      transform: translateX(5px)
