.btn
  background: $color-secondary
  border: 0
  color: white
  cursor: pointer
  display: inline-block
  font-size: $font-size-md
  outline: none
  padding: $pad / 1.5 $pad * 2
  position: relative
  text-transform: lowercase
  transition: all 0.3s ease-out

  &--flush
    margin-right: 1px

  &--sm
    padding: 10px 15px
    font-size: $font-size-sm

  &--xs
    padding: 5px 10px
    font-size: $font-size-xs

  &--inverted
    border: 1px solid $color-secondary
    background: transparent
    color: $color-secondary

  &--icon
    padding-right: $pad * 1.5

  i
    margin-top: -2px
    transition: transform 200ms ease
    vertical-align: middle

  &--toggle
    transition: none

    &--off
      background: $color-grey
      color: $color-black

  &:hover
    i
      transform: translateX(5px)
