.btn
  background: $color-secondary
  border: none
  border-radius: 4px
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12)
  color: white
  cursor: pointer
  display: inline-block
  font-size: $font-size-md
  outline: none
  padding: $pad / 1.5 $pad * 2
  position: relative
  text-transform: lowercase
  transform: perspective(1px) translate3d(0, 0, 0)
  transition: transform 0.3s ease
  -webkit-font-smoothing: antialiased

  &[disabled]
    opacity: .5
    pointer-events: none

  i
    margin-top: -2px
    transition: transform 200ms ease
    vertical-align: middle

  &--flush
    margin-right: 4px

  &--sm
    padding: 10px 15px
    font-size: $font-size-sm

    i
      max-width: 20px
      margin: -2px 0

  &--xs
    padding: 5px 10px
    font-size: $font-size-xs

  &--inverted
    border: 1px solid $color-secondary
    background: transparent
    color: $color-secondary

  &--icon
    padding-right: $pad * 1.5

  &--toggle
    font-size: $font-size-md

    &--off
      background: $color-grey
      color: $color-black

  &:hover
    transform: scale(1.05)

    i
      transform: translateX(5px)
