$max-width: 1100px
$max-width-sm: 900px 
$pad: 20px
$color-grey: #efefef
$color-dark: #1e2327
$color-gold: #FFAD34

$bar-bg: #D2EBD8
$bar-fg: #7DBAB2

$color-text: #757575
$color-secondary: #C33161
$color-bg: #F7F7F9
$color-white: #fff
$color-black: #000
$color-grey-light: #ccc

$font-family: 'Rubik', Helvetia Neue, Arial, sans-serif

$font-size-xl: 40px
$line-height-xl: 44px
$font-size-xs: 12px
$font-size-sm: 14px
$line-height-xs: 18px
$line-height-sm: 20px
$font-size: 16px
$line-height: 24px
$font-size-md: 20px
$line-height-md: 20px

$font-size-lg: 34px
$line-height-lg: 40px

$font-weight-light: 300
$font-weight-semibold: 500

$bubble-size: 50px
