.footer
  background: $color-dark
  box-sizing: border-box
  margin: $pad * 3 0 0
  padding: $pad * 2 $pad
  text-align: center

  .footer__link
    display: inline-block
    margin: 0 $pad
    text-transform: lowercase

    a
      color: $color-white
