.footer
  border-top: 1px solid $color-grey
  box-sizing: border-box
  margin: $pad * 3 0 0
  padding: $pad * 2 $pad 0
  text-align: center

  .footer__link
    display: inline-block
    margin: 0 $pad
    text-transform: lowercase
