.form
  .form__field
    margin-bottom: $pad * 1.5

    &--label
      margin-bottom: $pad / 2

  select.form__control
    border: 1px solid $color-text
    padding: $pad / 2
    appearance: none

  input[type=text],
  input[type=number]
    padding: $pad / 2
    font-family: $font-family
    font-size: $font-size

  input[type=range]
    width: 100%
