.form
  .form__dollar
    color: $color-white
    display: inline-block
    position: absolute
    padding: $pad / 2
    +font-size($font-size-sm, $line-height-sm)
    transform: perspective(1px) translate3d(0, 0, 0)
    z-index: 1
    -webkit-font-smoothing: antialiased

    &--off
      color: $color-black

  .form__field
    margin-bottom: $pad * 1.5

    &--help
      +font-size($font-size-sm, $line-height-sm)
      margin-top: $pad /2

      span
        color: $color-black

    &--push
      margin-top: $pad * 2

    &--label
      color: $color-black
      margin-bottom: $pad / 2
      font-weight: $font-weight-semibold

    .form__field__row
      margin-bottom: $pad / 2
      font-size: $font-size-sm

  .form__field__text
    color: $color-black
    +font-size($font-size-lg, $line-height-lg)

  .form__field__meta
    margin-bottom: $pad / 2
    margin-top: -2px
    +font-size($font-size-xs, $line-height-xs)
    max-width: 350px

    b
      color: $color-black
      font-weight: $font-weight-semibold

  select.form__control
    -webkit-appearance: none
    appearance: none
    border: 1px solid $color-grey-light
    cursor: pointer
    font-size: $font-size-sm
    outline: none
    padding: $pad / 2
    width: 100%

    &:hover
      border-color: $bar-fg

  .form__select
    position: relative
    select
      padding-right: $pad * 2
    svg
      position: absolute
      pointer-events: none
      width: 15px
      height: 10px
      top: calc(50% - 5px)
      right: 12px
      z-index: 1

  textarea.form__control
    -webkit-appearance: none
    +font-size($font-size-sm, $line-height-sm)
    border-color: $color-grey
    border-radius: 0
    box-shadow: none !important
    box-sizing: border-box
    min-height: 50px
    user-resize: none
    width: 100%
    padding: $pad / 2

    &:focus
      border-color: $color-secondary
      outline: none

  label
    display: block
    font-weight: $font-weight-normal !important

  input[type=text],
  input[type=email],
  input[type=number]
    padding: $pad / 2
    font-family: $font-family
    font-size: $font-size

  input[type=number].form__control,
  input[type=email].form__control,
  input[type=text].form__control
    border-radius: 0
    -webkit-appearance: none
    border: 1px solid $color-grey

    &:focus
      border-color: $color-secondary
      outline: none

    &--sm
      color: $color-text
      font-weight: 300
      padding: 10px 15px
      font-size: $font-size-sm
      width: 75px
      &:focus
        outline: none

    &--xs
      +font-size($font-size-xs, $line-height-xs)
      &:focus
        outline: none

    &--fixed
      width: 50px !important
      margin: -6px 0

    &--toggled
      border: 1px solid $color-grey-light
      border-radius: 5px
      color: $color-white
      font-size: $font-size-sm
      width: 100px
      outline: none
      padding-left: $pad * 1.5
      -webkit-font-smoothing: antialiased
      transform: perspective(1px) translate3d(0, 0, 0)

      &::-webkit-input-placeholder
        color: rgba(255, 255, 255, 1)
        font-weight: 300

      &--off
        background: $color-grey
        color: $color-black

        &::-webkit-input-placeholder
          font-style: italic
          color: $color-black

    &--xs
      padding: 5px
      color: $color-text
      font-size: $font-size-xs
      vertical-align: middle
      width: 25px
      display: inline-block

  $slider-height: 15px

  input[type=range]
    height: $slider-height
    -webkit-appearance: none
    width: 100%

    &::-webkit-slider-thumb
      cursor: pointer
      display: block
      background: $color-secondary
      width: $slider-height
      height: $slider-height
      border-radius: 100%
      -webkit-appearance: none

    &::-webkit-slider-runnable-track
      background: $color-grey
      border-radius: $slider-height
      height: $slider-height
      -webkit-appearance: none

    &:focus
      outline: none

  .form__aside
    display: inline-block
    margin-left: $pad / 2
    +font-size($font-size-sm, $line-height-sm)
    color: $color-secondary
    transition: all 150ms ease-in
    transform: translateY(5px) scale(.9)
    opacity: 0
    pointer-effects: none

    &--visible
      opacity: 1
      transform: translateY(0) scale(1)
