body
  -webkit-font-aliasing: antialiased
  background: $color-bg
  color: $color-text
  font-family: $font-family
  max-width: $max-width
  margin: 0 auto
  padding: $pad * 3 $pad

.ak-grid__item
  box-sizing: border-box
