.header
  +font-size($font-size-xs, $line-height-xs)
  background: $color-white
  box-shadow: 0px 4px 10px 0 rgba(22,22,22,0.08)
  color: $color-dark
  left: 0
  margin-bottom: $pad
  padding: $pad
  right: 0
  text-align: center
  top: 0
  z-index: 2

  +md
    +font-size($font-size-sm, $line-height-sm)
    text-align: left
    position: fixed

  b
    font-weight: $font-weight-semibold
    color: $color-secondary
    display: inline-block
    margin-right: 5px

  span
    opacity: .5

  .header__content
    +contained

  .header__aside
    display: none
    float: right
    margin: -15px 0
    padding: 5px
    overflow-x: hidden
    overflow-y: hidden
    +md
      display: block

    .btn
      margin-left: 5px

    .header__aside__text
      +font-size($font-size-sm, $line-height-sm)
      margin-right: 5px

    .header__aside__content
      transition: all 220ms ease

      &--hidden
        transform: translateX(108px)
