$bar-height: 15px

.hero-progress
  margin-bottom: $pad * 2

  span
    color: $color-black

  .hero-progress__amount
    margin-bottom: $pad / 2

    span
      +font-size($font-size-md, $line-height-md)

  .hero-progress__bar
    background: $bar-bg
    height: $bar-height
    margin-bottom: $pad / 2

  .hero-progress__bar__fg
    height: $bar-height

  .hero-progress__bar__bg
    background: $bar-fg
    height: $bar-height
    width: 20%

  .hero-progress__details
    +font-size($font-size-sm, $line-height-sm)

    .hero-progress__details__alt
      float: right
