.hero-art
  .hero-art__canvas
    line-height: 0
    +md
      padding-right: $pad

  img
    max-width: 100%
    margin: 0 auto

  .hero-art__details
    +font-size($font-size-xs, $line-height-xs)
    margin-top: $pad

    .hero-art__details__title
      font-weight: normal
      color: $color-black
      margin-bottom: $pad / 2

    .hero-art__details__body
      margin-bottom: $pad / 2

    .hero-art__images
      .hero-art__images__thumb
        background-position: center
        background-size: cover
        border-radius: 3px
        cursor: pointer
        display: inline-block
        height: 50px
        margin-right: 5px
        width: 50px
