.specs

  .link
    display: inline-block
    margin-top: $pad / 4

  .specs__row
    margin-bottom: $pad * 2

  span.amount
    color: $color-secondary

  .rewards
    .ak-grid__item
      margin-bottom: 0
      padding: 0

      &:last-child
        .rewards__cell
          margin-right: 0

    .rewards__cell
      border: 1px solid $color-secondary
      padding: $pad / 2
      text-align: center
      +font-size($font-size-sm, $line-height-sm)
      margin-right: 1px

      .rewards__cell__title
        color: $color-secondary

      &--disabled
        border-color: $color-grey
        background: $color-grey
        .rewards__cell__title
          color: inherit

      .rewards__cell__image
        background-size: cover
        background-position: center
        height: 25px
        margin: $pad / 2 - 2px auto $pad / 2
        width: 35px
        background-blend-mode: multiply
        mix-blend-mode: multiply

        &--inline
          display: inline-block
          margin: $pad / 2 $pad / 2 0

      .rewards__cell__price
        +font-size($font-size-xs, $line-height-xs)

  .items
    .items__table
      border: 1px solid $color-grey
      border-collapse: collapse
      margin-bottom: $pad * 2

      .items__table__row
        td
          border-bottom: 1px solid $color-grey
          padding: $pad / 2

      thead
        .items__table__row
          td
            +font-size($font-size-sm, $line-height-sm)
            padding: $pad / 3 $pad / 2
            background: $color-grey

  .specs__pay
    margin: $pad * 2 0

    .specs__pay__meta
      padding-left: $pad
      display: inline-block
      span
        color: $color-black
        font-weight: $font-weight-semibold
